@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap");

::-webkit-scrollbar {
  display: none;
}

:root {
    --black: #464a4e;
    --grey: #f4f4f4;
}

.bold {
    font-weight: 700;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    color: var(--black);
}

section {
    max-width: 1110px;
    margin: auto;
}

.title {
    font-size: 6rem;
    margin-top: 10rem;
}

.sub-title {
    font-size: 1.75rem;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.contacts {
    margin: 7rem auto;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.25rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    box-shadow: 0;
    transition: box-shadow 500ms;
}

.contact:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

svg {
    margin: 0.5rem;
}

.about-section {
    text-align: center;
    max-width: 750px;
    margin: auto;
}

.section-head {
    margin-top: 7rem;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
}

.skill {
    padding: 3rem 2rem;
    background-color: var(--grey);
    box-shadow: 0;
    transition: box-shadow 500ms;
}

.skill:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.skills {
    margin-top: 3rem;
}

.skill-head {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
}

.skill-body {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

.projects {
    margin-top: 1rem;
}

.project {
    margin: 2rem auto;
}

.project-head {
    font-weight: 700;
    font-size: 1.125rem;
}

.link {
    margin: 0.5rem auto;
    font-size: 0.875rem;
}

.project-description {
    font-size: 0.875rem;
    text-align: justify;
}

.grid-2 {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}

.container {
    background-color: var(--grey);
    box-shadow: 0;
    transition: box-shadow 500ms;
    padding: 3rem;
}

.container:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.activity-head {
    font-size: 1.125rem;
}

.activity-description {
    font-size: 0.875rem;
    margin-top: 2rem;
    text-align: justify;
}

.ed {
    margin-top: 1rem;
}

.ed-head {
    margin-top: 2rem;
    font-size: 1.125rem;
}

.ed-description {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.certificates {
    margin: 3rem auto;
}

img {
    height: 200px;
    margin: 0rem 2rem 2rem 0rem;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

/* Scrollbar */
.scrollbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    width: 1px;
    height: 80vh;
    background-color: var(--black);
}

.handle {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: var(--black);
    position: absolute;
    left: -25px;
    top: -25px;
}

.loader {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

@media (max-width: 1110px) {
    .scrollbar {
        display: none;
    }
}

/* Cursor */

/* .cursor {
    height: 50px;
    width: 5px;
    border-radius: 50px;
    background-color: var(--black);
    position: fixed;
    top: -25px;
    left: -25px;
} */